*{
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.grid > img{
    width: 100%;
    border: 3px solid white;
    margin: auto;
    height: 300px;
    transition: all 1.5s ease;
}
header, footer{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
.grid > img:hover{
    transform:scale(0.7) rotate(15deg);
}
