*{
    background-color: rgb(159, 149, 7);
    
}
body{
    border-color: black;
    border-style:groove;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}
h1{
    color:rgb(11, 11, 135);
}
.Texto1{
    color:rgb(47, 47, 151)
}
.Texto2{
    color:rgb(47, 47, 151)
}

.Negrita{
    color:red;
}
.cursiva{
    color: red;
}

p{
    font-size: 20px;
}
pre{
    border-color: white;
    color: white;
    float: left;
    font-size:20px;
    
}
.Lenguaje{
    color: green;
}
.Equis{
    color: yellow;
}
.imagen{
    width: 18%;
    float:left;
    margin-top: 40px;
}
main{
    overflow: auto;
}
hr{
    color: white;
}