*{
    margin: 0px;
    box-sizing: border-box;
}

.negra{
    background-color: grey;
    width: 100%;
    clear: both;
    
    
}
.bolaazul {
    background-color: pink;
    border-radius: 50%;
    padding: 130px 0px 130px 0px;
    text-align: center;
}
.bolaamarilla{
    background-color: yellow;
    border-radius: 50%;
    padding: 130px 0px 130px 0px;
    text-align: center;
}
.bolaroja{
    background-color: red;
    border-radius: 50%;
    padding: 130px 0px 130px 0px;
    text-align: center;
}
.bolaazul2{
    background-color: blue;
    border-radius: 50%;
    padding: 130px 0px 130px 0px;
    text-align: center;
}
.verde{
    background-color: green;
    width:100%;
    clear: both;
    
}
div{
    padding: 25px;
    float:left;
    width: 25%;
    margin: 25px 0px 25px 0px;
}